
/*FONTS*/
$primary-font : 'Roboto Slab', serif;
$secondary-font: 'Big Shoulders Text', cursive;

/*COLOURS*/
$primary-color: #18181a;
$primary-color-light: #3e3e40;
$secondary-color: #eeeeee;
$secondary-color-dark: #dadadb;
$text-color-dark: #000000;
$text-color-light: #ffffff;



