@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";


@import "base/base";
@import "base/animation";
@import "base/typography";
@import "base/utilities";

@import "layouts/header";
@import "layouts/footer";


@import "components/button";
@import "components/table";
@import "components/gallery";
@import "components/mvpcard";
@import "components/action";
@import "components/underline";
@import "components/top-btn";
@import "components/navigation";
@import "components/team-member";


@import "pages/home";
@import "pages/team";
@import "pages/about";
@import "pages/learning";