.about-us__gallery{
    position: relative;
    margin-bottom: 8rem;
    
    @media only screen and (max-width: $tablet-small){
        margin:  12rem 0;
    }

}
.gallery{
    &__photo{
        width: 50%;
        height: 20rem;
        box-shadow: $default-box-shadow;
        border-radius: .2rem;
        position: absolute;
        outline-offset: 2rem;
        transition: all .2s;

        @media only screen and (max-width: $tablet-small){ 
            height: 25rem;
        }

        &--1{
           left: 0;
           top: -2rem;
        }
        &--2{
           right: 2rem;
           top: .5rem; 
        }
        &--3{
           top: 15rem;
           left: 2rem;  
        }
        &--4{
           right: 0;
           top: 17rem; 
        }
        &--5{
            left:25%;
            top: 6rem;
        }

        &:hover{
            cursor: pointer;
            outline: 1rem solid $primary-color;
            transform: scale(1.4) translateY(-.5rem  );
            box-shadow: 0 2.5rem 4rem rgba($primary-color, .5);
            z-index: 20;
        }
    }
}