.navigation{

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 8rem;
    padding: 3rem 1rem;
    transition: all 0.7s ease-in;

    @media only screen and (max-width: $mobile){ 
        grid-column-gap: 10rem;
    }

    &__nav-list ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: -.8rem;

        & .home{
            display: none;
            visibility: hidden;
        }
    }
    
    &__nav-link{
        font-size: 1.8rem;
        transition: all .3s;
        padding: 1rem;

        @media only screen and (max-width: $tablet-small){ 
            font-size: 2.5rem;
            padding: 1.5rem;
        }
    
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background: $contrast-color;
            visibility: hidden;
            border-radius: 2px;
            transform: scaleX(0);
            transition: .25s linear;
        }
        &:hover:before,
        &:focus:before {
            visibility: visible;
            transform: scaleX(1);
            cursor: pointer;
        }
        
        &:hover{
            transform: translateY(-3px);
            
            
        }
        & a:visited{
            border-bottom: 2px solid $contrast-color; 
        }

        
    }
    
    &__logo-box{
       display:flex; 
    
    }
    
    &__logo{
        width: 10rem;
        height: 10rem;
        margin-top: -3rem;

        @media only screen and (max-width: $tablet-small){ 
            width: 8rem;
            height: 8rem;
            margin-top: -1rem;
        }

    }
    
    &__logo-text{
        font-size: 2.5rem;

        @media only screen and (max-width: $tablet-small){ 
            font-size: 2rem;
            margin-top: 1rem;
        }

        @media only screen and (max-width: $mobile-small){ 
            font-size: 1.5rem;
        }

    }

    &__checkbox,
    &__button,
    &__background{
        display: none;
        visibility: hidden;
    } 

    //Collapsed navigation for mobile and tablet view
    @media only screen and (max-width: $tablet){
        &__checkbox{
            display:none;
        }
        
        &__button,
        &__background{
           display:block ;
           visibility: visible;
        }

        &__button{
            background-color:$text-color-light;
            height: 5rem;
            width: 5rem;
            text-align: center;
            position: absolute;
            top: 3.2rem;
            right: 4rem;
            border-radius: 50%;
            z-index: 200;
            box-shadow: $box-shadow-hover;
            cursor: pointer;
    
    
        }

        &__background{
            height:4rem;
            width:4rem;
            border-radius: 50%;
            position: absolute;
            top: 3.8rem;
            right: 4.5rem;
            background-image: radial-gradient($primary-color, $primary-color-light );
            z-index: 100;
            transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1 );
    
            
        }
        
        &__nav-list{
           display: block;
           padding-top: 0; 
           height: 100vh;
           position: absolute;
           top: 0;
           right: 0;
           z-index: 150;
           opacity: 0;
           width: 0;
           transition: all .8s;

           ul{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
              margin-top: 18rem;
           }

        }

        
        &__nav-link a{
            &:visited{
                border-bottom: 2px solid $contrast-color;  
    
            }
            
            
        }
        &__checkbox:checked ~ &__background{
            transform:scale(80);
        } 

        &__checkbox:checked ~ &__nav-list .home{
            display: block;
            visibility: visible;
        } 

        &__checkbox:checked ~ &__nav-list{
            opacity: 1;
            width: 100%;
            height: 100vh;
        }
        
        &__icon{
            position: relative;
            margin-top: 2.5rem;
    
            &,
            &::before,
            &::after{
              height:2px;
              width: 3rem;
              background-color: $text-color-grey;
              color:$text-color-grey;
              display: inline-block;
            }
    
            &::before,
            &::after{
               content: ""; 
               position: absolute;
               left:0;
               transition: all .2s;
            }
            &::before{
               top: -.8rem;
            }
            &::after{
                top: .8rem;
            }
        }
        &__button:hover &__icon::before{
            top: -1rem;
        }
        &__button:hover &__icon::after{
            top: 1rem;
        }
    
        &__checkbox:checked + &__button &__icon{
            background-color: transparent;
        }
        &__checkbox:checked + &__button &__icon::before{
            top: 0;
            transform: rotate(135deg);
        }
        &__checkbox:checked + &__button &__icon::after{
            top: 0;
            transform: rotate(-135deg);
        }
    
    }

    
}

.sticky {
    position: fixed;
    background-color: rgba($primary-color, 0.9) !important;
    /* height: 11rem; */
    width: 100vw;
    z-index: 1000;
    animation: nav-slidein .2s ease-in-out;
}

.default-nav{
    background-color: $primary-color;
    color: $text-color-light;
    padding-bottom: 2rem;
    transition: all 1s linear;
}

.default-nav + svg{
    width: 100%;
    grid-column: 1 / -1;
    margin: 0;
    padding: 0;

    & path{
        fill: $primary-color;
    }
}

@keyframes nav-slidein{
    0%{
        height:0rem;
    }
    0%{
        height:5rem;
    }
    100%{
        height: 11rem
    }
}