*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    //This defines what 1rem should be..
    font-size: 62.5%;
    box-sizing: border-box;

    /*media queries for font size adaptation
    @include responsive(big-desktop) {
        font-size: 75%; //1rem = 12px
    }
    @include responsive(landscape-tab) {
        font-size: 56.25%; //1rem = 9px
    }
    @include responsive(portrait-tab) {
        font-size: 50%; // 1rem = 8px
    }
    @include responsive(phone) {
        font-size: 50%;
    }*/
}
body{
    box-sizing: border-box;
    font-family:  $primary-font;
    font-weight: 300;
    line-height: 1.6;
    margin:0;
    padding:0;
}

.container{
    display: grid;
    grid-template-columns: 12rem 1fr 12rem;
    grid-template-rows: auto;
    grid-template-areas: 
              "header header header"
              ". about ."
              "actions actions actions"
              ". tweets ."
              "footer footer footer";

}    

a, li{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

button:focus,
input:focus,
textarea:focus{
    outline: 1px solid $primary-color;
}


