*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    //This defines what 1rem should be..
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;
    
    //changing root font size of screen sizes
    @media only screen and (min-width: $desktop){
        font-size: 100%; //16px
    }
    @media only screen and (max-width: $laptop-small){
        font-size: 50%; //1rem = 8px
    }


}
body{
    box-sizing: border-box;
    font-family:  $primary-font;
    font-weight: 300;
    line-height: 1.6;
    margin:0;
    padding:0;
}



a, li{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

button:focus,
input:focus,
textarea:focus{
    outline: 1px solid $primary-color;
}


