.heading{
    text-transform: capitalize;
    font-family: $secondary-font;
    
    &__1{
        backface-visibility: hidden;
        
        &--big{
          display: block;
          font-size: 4rem;
          font-weight: 500;
          letter-spacing: 1.8rem;
        }
        &--small{
            display: block;
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 1rem;
        }
    }
    &__2{
        font-size: 4rem;
        font-weight:700;
        margin-bottom: 8rem;
    }
    &__3{
        font-size: 1.8rem;
        font-weight: 700;
    }
}
.paragraph{
    font-size: $default-font-size;
    font-family: $primary-font;
    
    &:not(:last-child){
        margin-bottom: 2.5rem;
    }
}
