.heading{
    text-transform: capitalize;
    font-family: $secondary-font;

    
    &--1{
        backface-visibility: hidden;
        
        &--big{
          display: block;
          font-size: 4rem;
          font-weight: 500;
          letter-spacing: 1.5rem;
          
          //styles to make the heading animate
          position: relative;
          overflow: hidden;
          background: linear-gradient(90deg, #000, #fff, #000);
          background-repeat: no-repeat;
          background-size: 80%;
          animation: shadow 3s linear infinite;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: rgba(255, 255, 255, 0);

          @media only screen and (max-width: $tablet-small){ 
            font-size: 3rem;
            letter-spacing: 1.2rem;
          }

          &:after{
            top: 1rem; 
            left: 9rem;
          }
        }

        &--small{
            display: block;
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 1rem;

            @media only screen and (max-width: $tablet-small){ 
                font-size: 2rem;
            }
            
            &:after{
                //top: 9rem; 
                left: 34rem;
            }
            
        }    
    }
 
    &--2{
        font-size: 4rem;
        font-weight:500;
        margin-bottom: 8rem;
        color: $primary-color;

        @media only screen and (max-width: $tablet-small){ 
            font-size: 3rem;
        }
        
        &--small{
            font-size: 4rem;
            font-weight:500;
            margin-bottom: 6rem;
            color: $primary-color;

            @media only screen and (max-width: $tablet-small){ 
                font-size: 3rem;
            }
        }
    }
    &--3{
        font-size: 3rem;
        font-weight: 500;

        @media only screen and (max-width: $tablet-small){ 
            font-size: 2rem;
        }
    }
}
.paragraph{
    font-size: $default-font-size;
    font-family: $primary-font;

    @media only screen and (max-width: $tablet-small){ 
        font-size: 1.6rem;
    }
    
    &:not(:last-child){
        margin-bottom: 2.5rem;
    }
}

.process{
    font-size: 3.5rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
}