
.u-bold-text{
    font-weight: bold;
}

.u-center-text{
    text-align: center !important;
}
.u-margin-bottom-big{
    margin-bottom: 8rem !important;
}
.u-margin-bottom-meduim{
    margin-bottom: 3rem !important;
}
.u-margin-bottom-small{
    margin-bottom: 1.5rem !important;
}


.u-margin-top-bigl{
    margin-top: 25rem !important;
}

.u-margin-top-big{
    margin-top: 15rem !important;
}
.u-margin-top-huge{
    margin-top: 10rem !important;
}
.u-margin-top-medium{
    margin-top: 8rem!important;
}
.u-margin-top-small{
    margin-top: 5rem !important;
}