.about-container{
    display: grid;
    grid-template-columns: 12rem 1fr 12rem;

    //reducing container margin for screen sizes
    @media only screen and (min-width: $desktop){
        grid-template-columns: 15rem 1fr 15rem; 
    }
    @media only screen and (max-width: $tablet){
        grid-template-columns: 8rem 1fr 8rem; 
    }
    @media only screen and (max-width: $mobile){
        grid-template-columns: 5rem 1fr 5rem; 
    }
    
    grid-template-rows: auto;
    grid-template-areas: 
              "navigation navigation navigation"
              "svg svg svg"
              ". about-text ."
              "support support support"
              ". qualify ."
              "footer footer footer";

}
.default-nav{
    grid-area: navigation;
    transition: all 0.7s ease-in;
} 
.nav-svg{
    grid-area: svg; 
}
.about-text{
    grid-area: main;
}
.support{
    grid-area: main;

    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 10rem;
}
.qualify{
    grid-area: main;
}
.footer{
    grid-area: footer;
}