.learning-container{
    display: grid;
    grid-template-columns: 12rem 1fr 12rem;

    //reducing container margin for screen sizes
    @media only screen and (min-width: $desktop){
        grid-template-columns: 15rem 1fr 15rem; 
    }
    @media only screen and (max-width: $tablet){
        grid-template-columns: 10rem 1fr 10rem; 
    }
    @media only screen and (max-width: $mobile){
        grid-template-columns: 8rem 1fr 8rem; 
    }
    
    grid-template-rows: auto;
    grid-template-areas: 
              "navigation navigation navigation"
              "svg svg svg"
              ". syllabus ."
              "footer footer footer";

}
.default-nav{
    grid-area: navigation;
    transition: all 0.7s ease-in;
} 
.nav-svg{
    grid-area: svg; 
}

.syllabus{
    grid-area: syllabus;
    padding: 3rem;
}
.footer{
    grid-area: footer;
}