.footer{
    position: relative;
    grid-column: 1 / -1;
    background: #151517;
    width: 100vw;
    height: 100%;
    margin-top: 10rem;
    color: $text-color-light;

    & svg{
        width: 100%;
        
        & path{
            fill: #fff;
        }
    }
    
    &__text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 5rem;
    }

    &__contact{
        font-size: 2rem
    }

    &__icon{
        color: #fff;
        width: 2.5rem;
        height: 2rem;
        display: inline-block;
        margin-right: 1.1rem;
        transition: all .2s;

        &:hover{
           transform: translateY(-.5rem);
           color: #1a8981;
        }
    }
}