.header{
    background: linear-gradient(to right bottom, rgba($primary-color, 0.8),rgba($primary-color, 0.8)),
                url(../../media/images/header-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    height: 120vh;

    @media only screen and (max-width: $tablet){ 
        height: 100vh;
    }

    display:grid;
    grid-template-rows: min-content 1fr min-content;
    transition: all 0.7s ease-in;
    
    &__text{
      display: flex;
      padding:1rem 2rem;
      margin: 0 4rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(3rem);

      @media only screen and (max-width: $tablet-small){ 
         transform: translateY(1rem);
         margin: 0;
         padding:1rem;
      }

    }

    &__buttons{
        display: flex;
        padding-top: 5rem;

    }

    & > svg{
        margin-top: 2rem;
        & path{
            fill: #FFF;
        }
    }   
    
}
