.section-about{
    grid-column: col-start / col-end;
}
.section-actions{
    grid-column: col-start / col-end;
}
.section-talk{
    grid-column: col-start / col-end;
}
.section-sponsors{
    grid-column: col-start / col-end;
}
